table filter {
    chain "SERVICES" {
        proto tcp dport 3128 @subchain "PROXY_CLIENTS" {
            saddr {{ nework_configuration[hypervisor]['trusted']['net'] }}/{{ nework_configuration[hypervisor]['trusted']['mask_short'] }} ACCEPT;
            saddr {{ nework_configuration[hypervisor]['untrusted']['net'] }}/{{ nework_configuration[hypervisor]['untrusted']['mask_short'] }} ACCEPT;
        }
    }
}
