# Logging:
    logformat modified_combined %>a %ui %un %tl "%rm %ru HTTP/%rv" %<st %Hs "%{Referer}>h" "%{User-Agent}>h" %Ss:%Sh
    access_log /var/log/squid/access.log modified_combined
	cache_log /var/log/squid/cache.log
    cache_store_log none
    log_mime_hdrs off
    strip_query_terms off
    logfile_rotate 0
    debug_options ALL,1

# ACLs:
    cachemgr_passwd none config

    # URL for unrusted network
    include /etc/squid/rules.conf

    # Hosts on the same hypervisor:
    acl localnet_trusted src {{ network_configuration['trusted']['net'] }}/{{ network_configuration['trusted']['mask_short'] }}
    acl localnet_unsafe src {{ network_configuration['unsafe']['net'] }}/{{ network_configuration['unsafe']['mask_short'] }}

    # Connection related:
    acl SSL_ports port 443
    acl Safe_ports port 80		# http
    acl Safe_ports port 21		# ftp
    acl Safe_ports port 443		# https
    acl CONNECT method CONNECT

    # Administration:
    acl PURGE method PURGE

    # Now the ACL:
    # Permit admistration only for localhost:
    http_access allow manager localhost
    http_access allow purge localhost
    http_access deny manager
    http_access deny purge

    # Deny requests to certain unsafe ports
    http_access deny !Safe_ports
    # Deny CONNECT to other than secure SSL ports
    http_access deny CONNECT !SSL_ports
    http_access deny to_localhost

    http_access allow localhost
    http_access allow localnet_trusted
    http_access allow yum_repo

    # And finally deny all other access to this proxy
    http_access deny all

# Connection related:
    http_port 3128
    half_closed_clients off
    shutdown_lifetime 45 seconds
    connect_timeout 15 seconds
    request_timeout 300 seconds
    client_lifetime 15 minutes
    client_persistent_connections on
    server_persistent_connections off

# Caching:
    cache_mem {{ ( ansible_memtotal_mb * 0.25 ) | round | int }} MB
    cache_replacement_policy heap LFUDA
    memory_replacement_policy heap LFUDA
    max_open_disk_fds 8192
    maximum_object_size_in_memory 8 MB
    maximum_object_size 512 MB
    quick_abort_min 0 KB
    quick_abort_max 0 KB
    cache_swap_low 90 #default
    cache_swap_high 95 #default
    memory_pools on
    # ORER IS IMPORTANT, has to be last one
{% set root_size = ( ansible_devices.vda.partitions.vda2.sectors | int * ansible_devices.vda.partitions.vda2.sectorsize ) / ( 1024 * 1024 ) %}
    cache_dir aufs /var/spool/squid {{ ( root_size * 0.33 ) | round | int }} 16 256

# File locations:
    coredump_dir /var/spool/squid

# Refresh patterns:
    refresh_pattern ^ftp:		1440	20%	10080
    refresh_pattern ^gopher:	1440	0%	1440
    refresh_pattern -i (/cgi-bin/|\?) 0	0%	0
    refresh_pattern .		0	20%	4320
