#jinja2:trim_blocks: False
{#- IP data is initially provided by DHCP, Ansible just needs to read it #}
{%- if base_bridge_eth0 %}
auto {{ base_bridge_eth0_bridge_name }}
iface {{ base_bridge_eth0_bridge_name }} inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    # Notice the bridge port is the vlan tagged interface
    bridge_ports eth0
{%- else %}
auto eth0
allow-hotplug eth0
iface eth0 inet static
{%- endif %}
    address {{ ansible_default_ipv4.address }}
    netmask {{ ansible_default_ipv4.netmask }}
    gateway {{ ansible_default_ipv4.gateway | mandatory }}
