{% set home = '/root' if item == 'root' else '/home/' + item %}
#Ansible aliases
alias a="nice -n 15 ansible --vault-password-file={{ home }}/.ansible/passwd -i {{ home }}/nauka/git_repos/pigfarm/playbooks/hosts-{{ ansible_hostname }}"
alias av="ansible-vault --vault-password-file={{ home }}/.ansible/passwd"
alias ap="nice -n 15 ansible-playbook -e hypervisor={{ ansible_hostname }} --vault-password-file={{ home }}/.ansible/passwd -i {{ home }}/nauka/git_repos/pigfarm/playbooks/hosts-{{ ansible_hostname }}"
alias ad="ansible-doc"

