table filter {
    chain "SERVICES" {
        proto tcp dport ( 443 ) @subchain "COBBLER_WEB_CLIENTS" {
{% for host in trusted_hosts %}
            saddr {{ host  }}/32 ACCEPT;
{% endfor %}
        }
        proto tcp dport ( 53 69 80 ) @subchain "COBBLER_PROVISIONING" {
            ACCEPT;
        }
        proto udp dport ( 53 69 ) @subchain "COBBLER_PROVISIONING" {
            ACCEPT;
        }
    }
}
