#jinja2:trim_blocks: False
#!/bin/sh
{%- for d_type in ["Centos-6", "Centos-7", "Debian-7", "Debian-8", "Ubuntu-14"] %}
    {%- set proxy = '.'.join(network_configuration['trusted']['net'].split('.')[:3]) %}
    {%- if d_type[:6] == "Centos" %}
        {%- set initrd = "initrd.img" %}
        {%- set kernel = "vmlinuz" %}
        {%- set breed = "redhat" %}
        {%- set ks_file = "/var/lib/cobbler/kickstarts/red-hat.ks" %}
    {%- elif d_type[:6] in ["Debian", "Ubuntu"] %}
        {%- set initrd = "initrd.gz" %}
        {%- set kernel = "linux" %}
        {%- if d_type[:6] == "Debian" %}
            {%- set breed = "debian" %}
        {%- elif d_type[:6] == "Ubuntu" %}
            {%- set breed = "ubuntu" %}
        {%- endif %}
        {%- set ks_file = "/var/lib/cobbler/kickstarts/debian.preseed.cfg" %}
    {%- endif %}
    {%- set mem = 768 %}
    {%- if d_type == "Centos-6" %}
        {%- set os_version = 'rhel6' %}
    {%- elif d_type == "Centos-7" %}
        {%- set mem = 1024 %}
        {%- set os_version = 'rhel7' %}
    {%- elif d_type == "Debian-7" %}
        {%- set os_version = 'wheezy' %}
    {%- elif d_type == "Debian-8" %}
        {%- set os_version = 'jessie' %}
    {%- elif d_type == "Ubuntu-14" %}
        {%- set os_version = 'trusty' %}
    {% endif %}
#Distro type: {{ d_type }}
cobbler distro add  --name {{ d_type }}-x86_64 \
                    --owners admin \
                    --kernel /var/lib/cobbler/pxe/{{ d_type }}-x86_64/{{ kernel }} \
                    --initrd /var/lib/cobbler/pxe/{{ d_type }}-x86_64/{{ initrd }} \
                    --kopts 'proxy=http://{{ proxy }}' \
                    --arch x86_64 \
                    --breed {{ breed }} \
                    --os-version {{ os_version }}

    {%- if d_type[:6] in ["Debian", "Ubuntu"] %}
cobbler repo add    --name {{ d_type }}-x86_64 \
                    --owners admin \
                    --arch x86_64 \
                    --breed apt \
                    --mirror {{ apt_repos[ d_type + '-x86_64' ]}} \
                    --keep-updated 0 \
                    --mirror-locally 0 \
                    --apt-components 'main universe' \
                    --apt-dists {{ os_version }} {{ os_version }}-updates {{ os_version }}-security

    {%- endif %}
cobbler profile add --name {{ d_type }} \
                    --owners admin \
                    --distro {{ d_type }}-x86_64 \
                    --kickstart {{ ks_file }} \
                    --proxy http://{{ proxy }} \
    {%- if d_type[:6] in ["Debian", "Ubuntu"] %}
                    --kopts keymap=pl \
                    --ksmeta "tree=http://@@http_server@@/cblr/links/{{ d_type }}-x86_64" \
                    --repos {{ d_type }}-x86_64 \
    {%- endif %}
                    --virt-cpus 2 \
                    --virt-file-size 6 \
                    --virt-disk-driver raw \
                    --virt-ram {{ mem }} \
                    --virt-type qemu \
                    --virt-bridge br_tr
{% endfor %}
