@include 'conf.d/';

table filter {

    chain INPUT {
        policy DROP;

        # connection tracking
        mod state state (ESTABLISHED RELATED) ACCEPT;
        mod state state INVALID REJECT;

        # allow local packet
        interface lo ACCEPT;

        # allow SSH, NRPE, munin connections
        # FIXME - needs cleanup, for now it is just copypaste
        # from other physical hosts
        proto tcp mod state state NEW @subchain "SERVICES" {
            dport ( 22 ) @subchain "ADMIN_HOSTS" {
{% for host in trusted_hosts[hypervisor] %}
                saddr {{ host }}/32 ACCEPT;
{% endfor %}
            }
        }

        # allow ping
        proto icmp icmp-type echo-request mod connlimit connlimit-above !1 ACCEPT;

    }

    chain OUTPUT {
        policy ACCEPT;
    }

    chain FORWARD {
        policy DROP;
    }
}

@include 'rules.d/';
