{% set git_id = git_identification[ansible_hostname] | default(git_identification['default']) %}
[user]
    name = {{ git_id.name }}
    email = {{ git_id.email }}
[core]
    autocrlf = input
    safecrlf = true
    excludesfile = /{{ 'root' if item[1] == 'root' else 'home/' + item[1] }}/.gitignore
[color]
    diff = auto
    grep = auto
[push]
    default = tracking
