[user]
    name = {{ git_identification.name }}
    email = {{ git_identification.email }}
[core]
    autocrlf = input
    safecrlf = true
    excludesfile = /{{ 'root' if item[1] == 'root' else 'home/' + item[1] }}/.gitignore
[color]
    diff = auto
    grep = auto
[push]
    default = tracking
