{% for socket in apache2_base_http_sockets %}
<VirtualHost {{ socket.host }}:{{ socket.port }}>

{% if inventory_hostname in groups['trusted'] %}
    ServerName repository.tr.{{ hypervisor }}.vespian.net
{% else %}
    ServerName repository.us.{{ hypervisor }}.vespian.net
{% endif %}

    # Autoindex options:
    IndexOptions +FancyIndexing

    # Logging
    LogLevel debug
    ErrorLog logs/repository.error.log
    CustomLog logs/repository.access.log combined_time

    DocumentRoot /var/www/repository/

    <Directory "/var/www/repository/">
        Options +Indexes -FollowSymLinks
        Require all granted
    </Directory>

</VirtualHost>
{% endfor %}
