#Managed by Ansible!

table filter {
    chain "SERVICES" {
        proto tcp dport ( 80 443 ) @subchain "COBBLER_CLIENTS" {
{% for host in trusted_hosts[hypervisor] %}
            saddr {{ host  }}/32 ACCEPT;
{% endfor %}
        }
    }
}
