{% for socket in apache2_base_https_sockets %}
<VirtualHost {{ socket.host }}:{{ socket.port }}>

    ServerName cobbler.{{ hypervisor }}.vespian.net
    ServerAlias cbl.{{ hypervisor }}.vespian.net

    # Logging
    LogLevel debug
    ErrorLog logs/cobbler_web.error.log
    CustomLog logs/cobbler_web.access.log combined_time

    # SSL
    SSLEngine on
    SSLProtocol all -SSLv2
    SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5
    SSLCertificateFile /etc/httpd/ssl/cobbler.{{ hypervisor }}.vespian.net.crt
    SSLCertificateKeyFile /etc/httpd/ssl/cobbler.{{ hypervisor }}.vespian.net.key

    AliasMatch ^/cblr(?!/svc/)(.*)?$ "/var/www/cobbler$1"
    AliasMatch ^/cobbler_track(.*)?$ "/var/www/cobbler$1"
    #AliasMatch ^/cobbler(.*)?$ "/var/www/cobbler$1"
    Alias /cobbler /var/www/cobbler
    Alias /cobbler_webui_content /var/www/cobbler_webui_content

    WSGIScriptAliasMatch ^/cblr/svc/([^/]*) /var/www/cobbler/svc/services.py

    <Directory "/usr/share/cobbler/web/">
            <IfModule mod_ssl.c>
                SSLRequireSSL
            </IfModule>
            <IfModule mod_nss.c>
                NSSRequireSSL
            </IfModule>
            SetEnv VIRTUALENV
            Options Indexes MultiViews
            AllowOverride None
            Require all granted
    </Directory>

    <Directory "/var/www/cobbler_webui_content/">
            <IfModule mod_ssl.c>
                SSLRequireSSL
            </IfModule>
            <IfModule mod_nss.c>
                NSSRequireSSL
            </IfModule>
            Options +Indexes +FollowSymLinks
            AllowOverride None
            Require all granted
    </Directory>

    <Directory "/var/www/cobbler">
        SetEnv VIRTUALENV
        Options Indexes FollowSymLinks
        Require all granted
    </Directory>

    # Use separate process group for wsgi
    WSGIScriptAlias /cobbler_web /usr/share/cobbler/web/cobbler.wsgi
    WSGIDaemonProcess cobbler_web display-name=%{GROUP}
    WSGIProcessGroup cobbler_web
    WSGIPassAuthorization On

    <Location /cobbler_web>
        Require all granted
    </Location>

</VirtualHost>
{% endfor %}
