cobbler system add  --name ${1} \
                    --owners admin \
                    --profile Ubuntu14 \
                    --status production \
                    --netboot-enabled 1 \
                    --kopts keymap=pl \
                    --hostname ${1}.{{ hypervisor }}.vespian.net \
                    --interface eth0 \
                    --mac-address random \
                    --ksmeta tree=http://@@http_server@@/cblr/links/ubuntu-14-x86_64 \
                    --ip-address ${2} \
                    --dns-name ${1}.{{ hypervisor }}.vespian.net \
                    --virt-type qemu \
                    --virt-pxe-boot 1
