#platform=x86, AMD64, or Intel EM64T

# Use text mode install
text

# System authorization information
auth --enableshadow --passalgo=sha512

# Disk:
clearpart --drives=vda --all --initlabel
bootloader --location=mbr --boot-drive=vda
part / --fstype="xfs" --ondisk=vda --grow
part swap --fstype="swap" --ondisk=vda --size=512

# Other:
firewall --enabled --ssh
firstboot --disable

# i18n
keyboard --vckeymap=pl2 --xlayouts='pl (legacy)'
lang en_GB.UTF-8

# Use network installation
#url --url="http://mirror.centos.org/centos/7/os/x86_64/" --proxy=...
url --url=$tree --proxy={{ proxy_settings_http_proxy }}

# Network information
$SNIPPET('network_config')

# Root password
rootpw --iscrypted $default_password_crypted

# System timezone
timezone Europe/Warsaw --isUtc

# SELinux configuration
selinux --enforcing

# Install OS instead of upgrade
install

# Do not configure the X Window System
skipx

# Reboot after installation
reboot

# If any cobbler repo definitions were referenced in the kickstart profile, include them here.
$yum_repo_stanza


%pre
$SNIPPET('log_ks_pre')
$SNIPPET('kickstart_start')
$SNIPPET('pre_install_network_config')
# Enable installation monitoring
$SNIPPET('pre_anamon')
%end

%packages
libselinux-python
%end

%post --nochroot
$SNIPPET('log_ks_post_nochroot')
%end

%post
$SNIPPET('log_ks_post')
# Start yum configuration
$yum_config_stanza

# End yum configuration
$SNIPPET('post_install_kernel_options')
$SNIPPET('post_install_network_config')
$SNIPPET('download_config_files')
$SNIPPET('koan_environment')
$SNIPPET('cobbler_register')
# Enable post-install boot notification
$SNIPPET('post_anamon')
# Start final steps
$SNIPPET('kickstart_done')
# End final steps
%end
