{% set distro_name = '-'.join([ansible_distribution, ansible_distribution_major_version, ansible_architecture]) %}
[local]
name=Local packages RPM repo for {{ distro_name }}
{% if inventory_hostname in groups['trusted'] %}
baseurl=http://repository.tr.{{ hypervisor }}.vespian.net/rpm/{{ distro_name }}/
{% else %}
baseurl=http://repository.us.{{ hypervisor }}.vespian.net/rpm/{{ distro_name }}/
{% endif %}
gpgcheck=0
enabled=1
proxy=_none_
