{% if ansible_distribution_major_version == "7" %}
    {%- set debian_testing = 'jessie' %}
{% elif ansible_distribution_major_version == "8" %}
    {%- set debian_testing = 'stretch' %}
{% endif %}

{% for type in ['deb', 'deb-src'] %}
{{ type }} {{ apt_repos[debian_codename] }} {{ ansible_distribution_release }} main contrib non-free
{{ type }} {{ apt_repos[debian_codename] }} {{ ansible_distribution_release }}-updates main contrib non-free
{{ type }} {{ apt_repos[debian_codename] }} {{ ansible_distribution_release }}-backports main contrib non-free
{{ type }} {{ apt_repos[debian_codename] }} {{ debian_testing }} main contrib non-free
{{ type }} http://security.debian.org/ {{ ansible_distribution_release }}/updates main contrib non-free
{{ type }} http://security.debian.org/ {{ debian_testing }}/updates main contrib non-free
{% endfor %}
